.formMoveContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
 }

.formMove {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    select {
        cursor: pointer;
        margin: 5px;
        width: 160px;
        height: 40px;
        border: 0;
        border-radius: 2px;
        background: $selectBgColor;
        color: $fontLightColor;
        font-family: $mainFont;
        font-weight: normal;
        font-size: 1.5rem;
        transition: 0.4s;
    }
}

.buttonMove {
    cursor: pointer;
    margin: 5px;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 2px;
    background: $buttonBgColor;
    color: $fontLightColor;
    font-family: $mainFont;
    font-weight: normal;
    font-size: 1.5rem;
    transition: 0.4s;
}

@media (min-width: 900px) {
    .buttonMove {
        &:hover {
            color: $buttonTextHoverColor;
        }
    }
}