.banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0 0 40px;

    h1 {
        font-size: 8rem;
        font-family: $mainFont;
        color: $thirdColor;
        font-weight: 800;
        text-align: center;
        padding: 20px 0 0 10px;
    }

    h2 {
        font-size: 2.4rem;
        font-family: $mainFont;
        color: $titleSecondColor;
        font-weight: bold;
        padding-bottom: 20px;
        text-align: center;
    }

    p {
        font-family: $mainFont;
        font-size: 1.7rem;
        font-weight: 400;
        color: $fontMediumColor;
        line-height: 2.5rem;
        text-align: center;
        padding: 0 0 20px 10px;

        span {
            font-size: 3rem;
            color: $spanColor;
        }
    }
}

@media (min-width: 900px) {
    .banner {
        align-items: flex-end;

        h1 {
            font-size: 7vw;
            text-align: right;
            padding: 0 0 0 40px;
        }

        h2 {
            text-align: right;
        }

        p {
            text-align: right;
        }
    }
}