.title {
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        font-family: $mainFont;
        font-size:2.5rem;
        text-align: center;
        color: $titleMainColor;
        font-weight: bold;
        padding: 20px 0 0 0;
    }

    p {
        font-family: $secondFont;
        font-size: 1.9rem;
        text-align: center;
        font-weight: 400;
        color: $fontMediumColor;
        padding: 10px 20px 20px 20px;
    }
}

@media (min-width: 412px) {
    .title {
        h1 {
            &:before {
                content: '';
                padding-right: 10px;
                margin-right: 10px;
                background: $titleSecondColor;
            }
        }
    }
}

@media (min-width: 900px) {
    .title {
        align-items: flex-start;

        h1 {
            font-size: 4.5rem;
            padding: 20px 0 0 45px;
        }

        p {
            text-align: left;
            padding: 20px 20px 20px 65px;
        }
    }  
}