.loading {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid $loadingSecondColor;
    border-top: 10px solid $loadingMainColor;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loadingPosition {
    padding: 100px;    
}
