.footer {
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: $footerMainColor;
    border-top: 20px solid $footerSecondColor;
    border-bottom: 5px solid $footerSecondColor;

    p {
        font-family: $mainFont;
        font-weight: bold;
        color: $logoColor;
        font-style: italic;
        font-size: 2rem;
        padding-right: 60px;
    }
}