*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.futureRaces {
  color: rgba(255, 0, 0, 0.7);
}

.pastRaces {
  color: #00bd00;
}

.navigation {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.navigation li {
  margin-bottom: 5px;
  text-decoration: none;
  list-style: none;
  display: inline-block;

}

.navigation a {
  color: #2a2a2a;
  padding: 10px;
  margin: 3px;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
  border: 1px solid #2a2a2a;
}

.navigation a:hover {
  color: #7a7a7a;
  border: 1px solid #7a7a7a;
}

.dataList {
  text-align: center;
}

.dataList li {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  list-style: none;
  display: inline-block;
}

.dataRace {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-align: center;
}

.dataRace li {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  list-style: none;
}

.button {
  cursor: pointer;
  margin: 5px;
  width: 200px;
  height: 24px;
}

.formSeason input {
  margin: 5px;
  width: 196px;
  height: 24px;
}

.formSeason select {
  margin: 5px;
  width: 200px;
  height: 27px;
}

.formRace input {
  margin: 5px;
  width: 91px;
  height: 24px;
}

.formRace select {
  margin: 5px;
  width: 200px;
  height: 27px;
}

.content {
  margin: 0 auto;
  width: 50%;
}

.logo {
  font-family: 'Roboto', sans-serif;
  padding: 15px;
  color: rgba(255,0,0,0.7);
  font-weight: bold;
  text-align: center;
  font-size: 50px;
}

.paragraph {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  color: rgba(255,0,0,0.7);
  padding: 10px;
}