@import './sass/modules/variables';
@import './sass/partials/navigation';
@import './sass/partials/home';
@import './sass/partials/grid';
@import './sass/partials/loading';
@import './sass/partials/chartOptions.scss';
@import './sass/partials/footer';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
