.dataList {
    text-align: center;

    li {
        font-family: $secondFont;
        color: $fontMediumColor;
        font-size: 1.9rem;
        font-weight: normal;
        text-decoration: none;
        list-style: none;
        display: inline-block;
        padding-left: 20px;
    }

    span {
        color: $spanColor;
    }

    @media (min-width: 900px) {
        text-align: left;

        padding: 0 0 30px 185px;

        li {
            padding-left: 50px;
        }

    }

    @media (min-width: 1130px) {
        padding: 0 0 30px 220px;
    }

    @media (min-width: 1340px) {
        padding: 0 0 30px 260px;
    }

    @media (min-width: 1570px) {
        padding: 0 0 30px 300px;
    }

    @media (min-width: 1800px) {
        padding: 0 0 30px 340px;
    }
}

.info {
    font-family: $secondFont;
    font-size: 2.5rem;
    text-align: center;
    font-weight: normal;
    color: $fontMediumColor;
    padding-top: 40px;
    padding-bottom: 40px;
}
