.formContent {
    padding: 13px 0 0 0;
}

.chartContent {
    height: 80vh;
}

.chartStatusContent {
    height: 90vh;
}

.loadingDriverContent {
    height: 30vh;
}

.chartHomeContent {
    height: 60vh;
}

.tableContent {
    height: 35vh;
}
