.banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0 0 40px;

    h1 {
        font-size: 7vw;
        font-family: $mainFont;
        color: $thirdColor;
        font-weight: 800;
    }

    h2 {
        font-size: 2.4rem;
        font-family: $mainFont;
        color: $titleSecondColor;
        font-weight: bold;
    }

    p {
        font-family: $mainFont;
        font-size: 1.7rem;
        font-weight: 400;
        color: $fontMediumColor;
        line-height: 2.5rem;

        span {
            font-size: 3rem;
            color: $spanColor;
        }
    }
}

.formBanner  {
    display: flex;
    select {
        cursor: pointer;
        
        height: 40px;
        border-radius: 2px;
        background: $selectBgColor;
        color: $fontLightColor;
        font-family: $mainFont;
        font-size: 1.5rem;
        width: 100%;
    }
}

@media (min-width: 900px) {
    .banner {
        align-items: flex-start;
    }
}