.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
    background: $headerMainColor;
    border-top: 30px solid $headerSecondColor;
    border-bottom: 5px solid $headerSecondColor;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $mainFont;
    font-weight: bold;
    color: $logoColor;
    font-style: italic;
    font-size: 4rem;
    padding: 10px 0 10px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: $mainFont;

    li {
        text-decoration: none;
        list-style: none;
    }

    a {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: $fontLightColor;
        font-weight: bold;
        font-style: italic;
        font-size: 1.5rem;
        text-transform: uppercase;
        padding: 45px 30px 40px 30px;
        text-decoration: none;
    }

    ul > li > ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }
}

@media(min-width: 900px) {

    .header {
        flex-direction: row;
        height: 135px;
    }

    .logo {
        padding: 0 0 0 40px;
    }    

    .navigation {
        position: relative;
        padding-right: 50px;

        a {
            font-size: 1.3rem;
            justify-content: flex-start;
            transition: 0.2s;
            &:hover {
                background: $headerSecondColor;
                font-size: 2rem;
                padding: 45px 30px 30px 30px;
                &::after {
                    content: '';
                    width: 100%;
                    height: 5px;
                    padding-right: 60px;
                    background: $menuLineColor;
                }
            }
        }

        ul > li:hover > a {
            background: $headerSecondColor;
            font-size: 2rem;
            padding: 45px 30px 30px 30px;
            &::after {
                content: '';
                width: 100%;
                height: 5px;
                padding-right: 60px;
                background: $menuLineColor;
            }
        }

        ul > li:hover > ul {
            display:block;
        }

        ul > li > ul {
            display:none;
            z-index: 1;
            position: absolute;
            top: 100px;
            left: 15.1%;
            background: $headerSecondColor;
            transition: 0.2s opacity;
            width: 232px;

            a {
                font-size: 1.5rem;
                color: $fontLightColor;
                padding: 15px 0 20px 20px;

                &:hover {
                    background: $headerSecondColor;
                    font-size: 1.5rem;
                    padding: 15px 0 20px 20px;
                    color: $secondColor;

                    &::after {
                        content: '';
                        width: 0;
                        height: 0;
                        padding-right: 0;
                    }
                }
            }
        }
    }
}