$mainColor: rgba(190, 0, 0, 1);
$secondColor: #ff8800;
$thirdColor: #202020;
$headerMainColor: rgba(190, 0, 0, 1);
$headerSecondColor: #202020;
$footerMainColor: rgba(190, 0, 0, 1);
$footerSecondColor: #202020;
$menuLineColor: #ff8800;
$titleMainColor: #202020;
$titleSecondColor: #ff8800;
$logoColor: #FFFFFF;
$buttonBgColor: #202020;
$buttonTextHoverColor: orange;
$selectBgColor: #202020;
$inputBorderColor: #202020;
$fontDarkColor: #000000;
$fontMediumColor: #202020;
$fontLightColor: #FFFFFF;
$spanColor: rgba(190, 0, 0, 1);
$loadingMainColor: #ff8800;
$loadingSecondColor: #dedede;
$mainFont: 'Roboto', sans-serif;
$secondFont: 'Open Sans', sans-serif;
